@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
         <div class="col-12 col-sm-8">
                    <h1>Claims Management System</h1>
                    <p>We take inspiration from the World's best management system, and create a unique experience. Helping you get the compensation you deserve.</p>
                </div>
                <div class="col-12 col-sm">
                        <img src="logo.png" width="250px" height="150px">
                </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

    <div class="row row-content">
            <div class="col-12 col-sm-6">
                <h2>Welcome To Claims Management System</h2>
                <p>This is the one-stop where you can submit your claims which will then be evaluated by our system and assigned a status. You can also obtain the status of a pre-submitted claim, or view the bills for the premium's you're paying on any claim. We hope you find our services helpful!</p>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts at a Glance</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Services Provided</dt>
                            <dd class="col-6">Health Care Policies</dd>
                            <dt class="col-6">Policies</dt>
                            <dd class="col-6">Accidental & MedicalCheckup</dd>
                            
                        </dl>
                    </div>
                </div>
             </div>
            </div>
</div>




